@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --primary-color: #233D80;
  --white-color: #fff;
  --bg-primary-linear :linear-gradient(90deg, #243D80 0%, #3F65CD 100%);
  --secondary-color:#FFFFFF33;
  --highlight-color:#F5BD00;
  --black-color:#000;
  --gray-color:#414651;

}

* {
  margin: 0px;
  font-family: "Montserrat", serif !important;
}

body {
  display: flex;
  flex-direction: column;
}

// Scroll
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    90deg,
    var(--dark-secondary-color) 0%,
    var(--dark-secondary-color) 105.07%
  );
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-secondary-color);
}

// Scroll
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    90deg,
    var(--dark-secondary-color) 0%,
    var(--dark-secondary-color) 105.07%
  );
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-secondary-color);
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 10px 0;
  background: var(--gray-color);
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(
    to right,
    var(--white-color) 0%,
    transparent 100%
  );
}

.logos:after {
  right: 0;
  background: linear-gradient(to left, var(--white-color) 0%, transparent 100%);
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 80px 0 0px;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.arrow {
  color: var(--white-color);
}

// .iti-mobile .intl-tel-input .country-list {
//   max-height: none !important;
// }

.intl-tel-input .country-list {
  width: 100%;
  scrollbar-color: var(--primary-color) var(--white-color);
  overflow-x: hidden;
}

.iti-mobile .intl-tel-input.iti-container {
  z-index: 10000000 !important;
}

.slick-prev {
  display: none !important;
}
.slick-next {
  display: none !important;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}