@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --primary-color: #233D80;
  --primary-light-color:#F6F9FF;
  --white-color: #fff;
  --bg-primary-linear :linear-gradient(90deg, #243D80 0%, #3F65CD 100%);
  --secondary-color:#FFFFFF33;
  --highlight-color:#F5BD00;
  --black-color:#000;
  --gray-color:#414651;
  --light-pink:#E9D7FE

}

* {
  margin: 0px;
  font-family: "Montserrat", serif !important;
}

body {
  display: flex;
  flex-direction: column;
}

// Scroll
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    90deg,
    var(--primary-color) 0%,
    var(--primary-color) 105.07%
  );
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

// Scroll
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    90deg,
    var(--primary-color) 0%,
    var(--primary-color) 105.07%
  );
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}



@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
