.app_bar {
  background-color: var(--primary-light-color) !important;
  height: 100px;
  border-bottom: 1px solid var(--primary-color);
}

.lockIcon {
  color: var(--primary-color);
}

.lockIcon_mobile {
  color: var(--primary-color);
  font-size: 36px !important;
}
